.-parallax
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  .is-overlay
    background-color: rgba(10, 10, 10, .6)
  .hero-body
    padding-top: 5rem
    padding-bottom: 5rem