
.-jumbotron


  background-image: url('/base/img/slider/multiple/slider-multiple-1.jpg')

  height: 260px

  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  background-position: 0px 0px

  .is-overlay
    background-color: rgba(10, 10, 10, .3)

  .hero-body
    padding-top: 5rem
    padding-bottom: 5rem





