<template>
    <div>
        <subcategorie :categories="productsCategories"></subcategorie>
        <!--<subcategorie v-if="checked" :categories="productsCategories"></subcategorie>
        <subcategorie v-else :categories="productsCategories"></subcategorie>-->
    </div>
</template>

<script>
    import Subcategorie from './Subcategories';



    export default {
        components: {
          Subcategorie
        },
        props: ['checked'],
        created () {
          this.getProductsCategories();
        },
        data() {
            return {
                productsCategories: []
            };
        },
        methods: {
            getProductsCategories () {
                const url = "/admin/productos/categorias/obtener";
                axios.get(url)
                    .then(response => {
                        this.productsCategories = response.data;
                        if (this.checked){ // Si recibimos categorias pertenecientes al producto
                            this.setCheckedCategories();
                        }
                    })
            },
            setCheckedCategories () {
                this.getCategoriesIndexes(this.productsCategories);
            },
            getCategoriesIndexes (categories){ // De manera recursiva obtenemos los id's de las categorías
                categories.forEach(category => {
                    if(this.appendCheckedAttribute(category.id)){ // Si la función devuelve 'true' agrega el atributo 'checked' a la categoría
                        category.checked = true;
                    }
                    if(category.children_recursive.length > 0){
                        this.getCategoriesIndexes(category.children_recursive)
                    }
                });
            },
            appendCheckedAttribute (id) { // Busca el id(que recibe como parámetro) de la categoría en el array de categorías a las que pertenece el producto
                return _.findIndex(this.checked, function(category) {
                    return category.id === id;
                }) >= 0;
            }
        }
    }
</script>