<template>
    <div>
        <div v-for="category in categories">
            <label class="checkbox">
                <input :id="'cat'+category.id" name="categories[]" :value="category.id" type="checkbox" :checked="category.checked">
                {{ category.nombre}}
            </label>
            <div v-if="category.children_recursive.length > 0" style="margin-left: 35px">
                <subcategories :categories="category.children_recursive"></subcategories>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'subcategories',
        props: ['categories'],
    }
</script>