// Menú lateral de categorías
.menu-categories
  .menu-list
    a
      &:hover
        background-color: #2f2e2e
      &.is-active
        background-color: #ff2b56
        &:hover
          background-color: #ff2b56
    li ul
      border: 0


.-pdcto-desc
  padding-bottom: 10px


.-pdcto-galeria
  padding-top: 0

#modal-image-gallery img
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  max-width: 100%
  max-height: 100%
  margin: auto
  overflow: auto
  width: auto

.modal-background
  cursor: pointer



