.-carousel
  height: calc(90vh - 24rem)

  overflow: hidden
  .-carousel-container
    height: 100%
    .-is-overlay-carousel
     background-color:  rgba(10, 10, 10, 0.4)
    .-carousel-item
      display: none
      height: 100%
      img

        width: 100%

        opacity: 0
        -webkit-transition: opacity 0.3s
        -moz-transition: opacity 0.3s
        -o-transition: opacity 0.3s
        transition: opacity 5s
      &.-is-active
        display: block
        img
          opacity: 1
          -webkit-transition: opacity 0.3s
          -moz-transition: opacity 0.3s
          -o-transition: opacity 0.3s
          transition: opacity 5s
  .-navigation
    position: absolute
    top: 30%
    background-color: $primary-color
    z-index: 9

    opacity: 0.3


    &.-is-right
      right: 0
.-text-slider
  margin-left: 100px
  top: 30%
  font-family: 'Oswald', sans-serif
  color: $subtitle-color
  text-shadow: 2px 2px  2px #fff
  font-size: 3.0rem
  font-weight: bold

  +mobile
    max-width: 700px
    font-size: 1.5rem

    top: 10%

