<template>
    <article class="message is-info">
        <div class="message-body">
            <p class="is-size-7">
                <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 720 a 72 dpi) <br>
            </p>
        </div>
    </article>
</template>

