<template>
    <article class="message is-info">
        <div class="message-body">
            <p class="is-size-7">

                <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño {{ text }} a 72 dpi)<br>
            </p>
        </div>
    </article>
</template>
<script>
    export default {
        props: ['text']
    }
</script>