<template>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">
                <slot name="title"></slot>
            </div>
        </header>
        <div class="card-content">
            <slot name="content"></slot>
        </div>
        <footer class="card-footer">
            <slot name="footer"></slot>
        </footer>
    </div>
</template>