<template>
    <div class="field">
        <slot name="label"></slot>
        <div class="control has-icons-right">
            <slot name="input"></slot>
            <slot name="icon-right"></slot>
        </div>
        <slot name="help"></slot>
    </div>
</template>