<template>
    <div>
        <div v-for="child in category.children_recursive" class="-level">
        <div style="margin-left: 35px">
            <span class="tags has-addons is-marginless">
                <span class="tag is-info">
                    <a href="#" title="Agregar subcategoría" @click.prevent="addNewProductSubcategory">
                        <span class="icon has-text-white"><i class="fas fa-plus"></i></span>
                    </a>
                </span>
                <span class="tag is-warning">
                    <a href="#" title="Editar" @click.prevent="openFormEditCategory">
                        <span class="icon has-text-white"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                </span>
                <span class="tag is-danger">
                    <a href="" @click.prevent="deleteNewProductSubcategory(child)">
                        <span class="icon has-text-white"><i class="fas fa-trash"></i></span>
                    </a>
                </span>
                <span class="tag">{{ child.nombre }}</span>
            </span>
            <!-- field agregar subcategoría -->
            <div class="field has-addons is-hidden -field-new-subcategory" style="margin-left:35px">
                <div class="control">
                    <input name="input-new-subcategory" class="input is-small" type="text"
                           placeholder="Subcategoría">
                </div>
                <div class="control">
                    <a class="button is-success is-small" @click.prevent="saveNewProductSubcategory($event, child)">
                        Guardar
                    </a>
                </div>
                <div class="control">
                    <a class="button is-danger is-small" @click.prevent="cancelAddNewProductSubcategory">
                        Cancelar
                    </a>
                </div>
            </div>
            <!-- field para editar categoría-->
            <div class="field has-addons is-hidden -field-edit-category">
                <div class="control">
                    <input name="input-new-subcategory" class="input is-small" type="text"
                            v-model="child.nombre">
                </div>
                <div class="control">
                    <a class="button is-success is-small"
                        @click.prevent="updateCategory($event, child)">
                        Guardar
                    </a>
                </div>
                <div class="control">
                    <a class="button is-danger is-small"
                        @click.prevent="cancelEditCategory">
                        Cancelar
                    </a>
                </div>
            </div>
            <!---->
            <div v-if="child.children_recursive" style="margin-left: 35px">
                <subcategory-row :category="child"></subcategory-row>
            </div>
            <!---->
        </div>
    </div>
    </div>
</template>
<script>

    export default {

        methods: {
            getProductsCategories () {
                const url = "/admin/productos/categorias/obtener";
                axios.get(url)
                    .then(response => {
                        this.$root.productsCategories = response.data;
                    })
            },
            addNewProductSubcategory(event) {
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level'); // El div que al que se va a agregar subcategoría
                level.querySelector('.-field-new-subcategory').classList.remove('is-hidden'); // Mostramos el input para agregar la subcategoría
            },
            cancelAddNewProductSubcategory (event) {
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level'); // El div que al que se va a agregar subcategoría
                level.querySelector('.-field-new-subcategory').classList.add('is-hidden'); // Mostramos el input para agregar la subcategoría
            },
            saveNewProductSubcategory (event, parent) {
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level'); // El div  al que se va a agregar subcategoría
                const inputSubcategory = level.querySelector('.-field-new-subcategory input[name="input-new-subcategory"]');
                const newSubcategory = inputSubcategory.value; // Mostramos el input para agregar la subcategoría
                const url = "/admin/productos/categorias"; // Va al método store

                axios.post(url, {categoria: newSubcategory, parent_id: parent.id})
                    .then(response =>{
                        this.$notify({
                            group: 'foo',
                            title: '',
                            text: '¡Se guardo exitósamente la categoría!'
                        });
                        inputSubcategory.value = "";
                        this.getProductsCategories();
                        // this.$parent.$options.methods.getProductsCategories();
                        level.querySelector('.-field-new-subcategory').classList.add('is-hidden'); // Mostramos el input para agregar la subcategoría
                    })
                    .catch(function (error) {
                        alert("Tuvimos un problema, por favor inténtalo más tarde");
                    });

            },
            deleteNewProductSubcategory (category) {
                const confirm = window.confirm("Estas seguro de eliminar la categoría"+ category.nombre +" con todas sus subcategorías");
                if(!confirm) {
                    return
                }
                const url = "/admin/productos/categorias/"+category.id; // Va al método store
                axios.delete(url, {categoriaId: category.id})
                    .then(response =>{
                        this.$notify({
                            group: 'foo',
                            title: '',
                            text: '¡Se eliminó exitósamente la categoría!'
                        });
                        this.getProductsCategories();
                    })
                    .catch(function (error) {
                        alert("Tuvimos un problema, por favor inténtalo más tarde");
                    });
            },
            openFormEditCategory(event){
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level'); // El div que al que se va a agregar subcategoría
                level.querySelector('.-field-edit-category').classList.remove('is-hidden'); // Mostramos el input para agregar la subcategoría
            },
            cancelEditCategory (event) {
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level'); // El div que al que se va a agregar subcategoría
                level.querySelector('.-field-edit-category').classList.add('is-hidden'); // Mostramos el input para agregar la subcategoría
                this.getProductsCategories();
            },
            updateCategory(event, category) {
                const url = "/admin/productos/categorias/"+category.id; // Va al método update
                const element = event.target; // El elemento que dispara el evento
                const level = element.closest('.-level');
                axios.put(url, {nombre: category.nombre})
                    .then(response =>{
                        this.$notify({
                            group: 'foo',
                            title: '',
                            text: '¡Se actualizó exitósamente la categoría!'
                        });
                        this.getProductsCategories();
                        level.querySelector('.-field-edit-category').classList.add('is-hidden'); // Mostramos el input para agregar la subcategoría
                        // console.log(response)
                    })
                    .catch(function (error) {
                        alert("Tuvimos un problema, por favor inténtalo más tarde");
                    });
            }
        }, // End methods
        props: ['category'],

    }
</script>