// Positiion helpers
.-is-relative
  position: relative
.-is-absolute
  position: absolute


//Color helpers
.-has-bg-primary
  background-color: $primary-color
.-is-transparent
  background-color: transparent

// Size helpers
.-is-fullheight
  height: 100%!important

// Images helpers
.image
  &.-is-200px-height
    height: 200px
.-object-fit-cover
  object-fit: cover

// Varios
.-overflow-hidden
  overflow: hidden
.-is-spaced
  margin-top: 1rem
.-is-borderless
  border: 0
.-has-margin-auto
  margin: auto
.-has-border
  border: solid 1px
.-z-index-9
  z-index: 9
.-has-text-underline
  text-decoration: underline