
/*
   |--------------------------------------------------------------------------
   | generales
   |--------------------------------------------------------------------------
   |
   | Estilos usados en todo el sitio
   |
   */

.-err
  border: 1px solid red
  background-color: navy

.-azul
    background-color: #063888

.-vde
    background-color: #0f4d2b

.-fdo-sidebar
  background-color: #2b3237
  background-image: url("/adminn/img/special-page-bg.png")
  background-size: 100% 100%

// Corrige error con chrome al usar inputs type fils
// más información https://github.com/jgthms/bulma/pull/1976
.file-input
  opacity: 0


.btn-create-model
  margin-bottom: 15px
  margin-top: -20px

.table
  .-actions
    width: 110px

.-colFecha
  width: 50px

.-colLiga
  width: 100px

.-listado tbody tr:hover
  background-color: #eef2f4

.box
  border-radius: 0
  padding-top: 0

.-barra-idioma
  padding: 10px 20px 10px

.-btn-idioma
  padding: 10px  0 10px 0
