<template>
    <card>
        <p slot="title">Certificado de Calidad</p>
        <div slot="content">
            <form id="form-create-new-quality" :action="action" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" :value="csrf_token">
                <input v-if="method" type="hidden" name="_method" :value="method">

                <!-- Titulo -->
                <div class="columns">
                    <div class="column is-6">
                        <input-form>
                            <label slot="label" class="label">Titulo</label>
                            <input v-if="quality" v-validate="'required'" name="title" slot="input" type="text" class="input"  v-model="qualityData.title">
                            <input v-else v-validate="'required'" name="title" slot="input" type="text" class="input">
                            <span slot="help" class="help is-danger">{{ errors.first('title') }}</span>
                        </input-form>
                    </div>
                </div>

                <gallery-message></gallery-message>
                <!-- Input imagen -->
                <div class="field">
                    <label class="label">Imagen</label>
                    <div class="file is-info">
                        <label class="file-label">
                            <input class="file-input" type="file" name="imagen" @change="uploadImage($event)">
                            <span class="file-cta is-radiusless">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"></span>
                            </span>
                            <span v-if="quality && !imageQuality" class="file-name is-radiusless">
                                {{ filename = "Cambiar imagen"}}
                            </span>
                            <span v-else class="file-name is-radiusless">
                                {{ filename }}
                            </span>
                        </label>
                    </div>
                </div>
                <!-- Imagen -->
                <div class="columns">
                    <div class="column is-9-mobile is-6-tablet is-4-desktop">
                        <figure>
                            <img v-if="quality && !imageQuality" :src="'/files/quality/'+qualityData.imagen" alt="">
                            <img v-else :src="imageQuality" alt="">
                        </figure>
                    </div>
                </div>
                <hr>
                <!-- Descripción -->
                <input-form>
                    <label slot="label" class="label">Descripción</label>
                    <textarea v-if="quality" slot="input" name="content" class="textarea"> {{ qualityData.content }} </textarea>
                    <textarea v-else slot="input" name="content" class="textarea"></textarea>
                </input-form>
            </form>
        </div>
        <div slot="footer" class="box is-radiusless card-footer-item has-text-right">
            <button class="button is-link is-rounded"  @click="validateBeforeSubmit">Guardar</button>
        </div>
    </card>
</template>

<script>
    import Card from '../../../Card.vue'
    import InputForm from '../../../Input'
    import GalleryMessage from '../../../admin/parciales/GalleryMessage'

    export default {
        beforeMount() {
            if(this.quality){
                this.parseQuality();
            }
        },
        components: {
            Card,
            InputForm,
            GalleryMessage
        },
        data () {
            return {
                filename: 'Subir imagen',
                imageQuality: false,
                qualityData: ''
            }
        },
        props:['action', 'csrf_token', 'quality', 'method'],
        methods: {
            uploadImage (e) {
                const files = e.target.files || e.dataTransfer.files;

                if (!files.length)
                    return;

                const image = files[0];
                this.filename = image.name;
                this.createImage(files[0]);
            },
            createImage(file) {
                const image = new Image();
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.imageQuality = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        document.getElementById('form-create-new-quality').submit();
                        return;
                    }

                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                });
            },
            parseQuality (){
                this.qualityData = JSON.parse(this.quality);
            }
        },
    }
</script>