<template>
    <card>
        <p slot="title">Promociones</p>
        <div slot="content">
            <form id="form-create-new-promotion" :action="action" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" :value="csrf_token">
                <input v-if="method" type="hidden" name="_method" :value="method">

                <!-- Nombre -->
                <div class="columns">
                    <div class="column is-6">
                        <input-form>
                            <label slot="label" class="label">Nombre</label>
                            <input v-if="promotion" v-validate="'required'" name="nombre" slot="input" type="text" class="input"  v-model="promotionData.nombre">
                            <input v-else v-validate="'required'" name="nombre" slot="input" type="text" class="input">
                            <span slot="help" class="help is-danger">{{ errors.first('nombre') }}</span>
                        </input-form>
                    </div>
                </div>

                <gallery-message></gallery-message>
                <!-- Input imagen -->
                <div class="field">
                    <label class="label">Imagen</label>
                    <div class="file is-info">
                        <label class="file-label">
                            <input class="file-input" type="file" name="imagen" @change="uploadImage($event)">
                            <span class="file-cta is-radiusless">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"></span>
                            </span>
                            <span v-if="promotion && !imagePromotion" class="file-name is-radiusless">
                                {{ filename = "Cambiar imagen"}}
                            </span>
                            <span v-else class="file-name is-radiusless">
                                {{ filename }}
                            </span>
                        </label>
                    </div>
                </div>
                <!-- Imagen -->
                <div class="columns">
                    <div class="column is-9-mobile is-6-tablet is-4-desktop">
                        <figure>
                            <img v-if="promotion && !imagePromotion" :src="'/files/promociones/'+promotionData.imagen" alt="">
                            <img v-else :src="imagePromotion" alt="">
                        </figure>
                    </div>
                </div>
                <hr>
                <article class="message is-info">
                    <div class="message-body">
                        <i class="fas fa-eye"></i>
                        <br>Seleccione URL si se desea que la promoción enlace a una dirección (URL) especifica
                        <br>
                        Seleccione Descripción si desea enlazar a un contenido especificado.
                    </div>
                </article>
                <!-- Radio -->
                <div class="field">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="question" v-model="promotionType" :value="1">
                            Descripción
                        </label>
                        <label class="radio">
                            <input type="radio" name="question" v-model="promotionType" :value="0">
                            URL
                        </label>
                    </div>
                </div>
                <!-- Descripción -->
                <input-form v-show="promotionType == 1">
                    <label slot="label" class="label">Descripción</label>
                    <textarea v-if="promotion" slot="input" name="contenido" class="textarea"> {{ promotionData.contenido }} </textarea>
                    <textarea v-else slot="input" name="contenido" class="textarea"></textarea>
                </input-form>
                <!-- Url -->
                <div class="columns" v-show="promotionType == 0">
                    <div class="column is-6">
                        <input-form>
                            <label slot="label" class="label">Url</label>
                            <input v-if="promotion" slot="input" name="liga" class="input" v-model="promotionData.liga">
                            <input v-else slot="input" name="liga" class="input">
                        </input-form>
                    </div>
                </div>
            </form>
        </div>
        <div slot="footer" class="box is-radiusless card-footer-item has-text-right">
            <button class="button is-link is-rounded"  @click="validateBeforeSubmit">Guardar</button>
        </div>
    </card>
</template>

<script>
    import Card from '../../../Card.vue'
    import InputForm from '../../../Input'
    import GalleryMessage from '../../../admin/parciales/GalleryMessage'

    export default {
        beforeMount() {
            if(this.promotion){
                this.parsePromotion();
            }
        },
        components: {
            Card,
            InputForm,
            GalleryMessage
        },
        data () {
            return {
                filename: 'Subir imagen',
                promotionType: 1,
                imagePromotion: false,
                promotionData: ''
            }
        },
        props:['action', 'csrf_token', 'promotion', 'method'],
        methods: {
            uploadImage (e) {
                const files = e.target.files || e.dataTransfer.files;

                if (!files.length)
                    return;

                const image = files[0];
                this.filename = image.name;
                this.createImage(files[0]);
            },
            createImage(file) {
                const image = new Image();
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.imagePromotion = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        document.getElementById('form-create-new-promotion').submit();
                        return;
                    }

                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                });
            },
            parsePromotion (){
                this.promotionData = JSON.parse(this.promotion);
            }
        },
    }
</script>