<template>
    <div>
        <card>
            <p slot="title">Editar producto</p>
            <div slot="content">
                <form id="form-product" :action="action" method="post" enctype="multipart/form-data">
                    <input v-if="product" type="hidden" id="_id-product" :value="productData.id">
                    <!-- <input v-if="product" type="hidden" name="_method" value="put"> -->
                    <input v-if="token" type="hidden" name="_token" :value="token">
                    <div class="columns">
                        <div class="column">
                            <div class="columns">
                                <div class="column is-8">
                                    <form-input>
                                        <label slot="label" class="label">Nombre</label>
                                        <input v-if="product"  name="nombre" slot="input" type="text" class="input" v-model="productData.nombre" required>
                                        <input v-else name="nombre" slot="input" type="text" class="input" required>
                                        <span slot="help" class="help is-invisible is-danger">El campo es obligatorio</span>
                                    </form-input>
                                </div>

                                <!--
                                <div class="column">
                                    <form-input>
                                        <label slot="label" class="label">Precio</label>
                                        <input v-if="product" name="precio" slot="input" type="text" class="input" v-model="productData.precio" required>
                                        <input v-else name="precio" slot="input" type="text" class="input" required>
                                        <span slot="help" class="help is-invisible is-danger">El campo es obligatorio</span>
                                    </form-input>
                                </div>
                                -->


                            </div>
                            <hr>
                            <image-message text="128 x 128"></image-message>




                            <!-- Input imagen -->
                            <div class="field">
                                <label class="label">Imagen Listado</label>
                                <div class="file is-info">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="fotolistado" @change="uploadImage($event)">
                                        <span class="file-cta is-radiusless">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label"></span>
                                        </span>
                                        <span v-if="product && !imageProduct" class="file-name is-radiusless">
                                            {{ filename = "Cambiar imagen"}}
                                        </span>
                                        <span v-else class="file-name is-radiusless">
                                            {{ filename }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <!-- Imagen -->
                            <div class="columns">
                                <div class="column is-9-mobile is-6-tablet is-4-desktop">
                                    <figure>
                                        <!--<img v-if="promotion && !imageProducto" :src="'/files/promociones/'+promotionData.imagen" alt="">-->
                                        <img v-if="product && !imageProduct" :src="'/files/productos/'+productData.fotolistado" alt="">
                                        <img v-else :src="imageProduct" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Descripción -->
                            <form-input>
                                <label slot="label" class="label">Descripción</label>
                                <textarea v-if="product" id="descripcion-producto" slot="input" name="descripcion" class="textarea" placeholder="Textarea">{{ productData.descripcion }}</textarea>
                                <textarea v-else id="descripcion-producto" slot="input" name="descripcion" class="textarea" placeholder="Textarea"></textarea>
                            </form-input>
                            <form-input>
                                <label slot="label" class="label">Detalles</label>
                                <textarea v-if="product" slot="input" id="detalles-producto" name="detalles" class="textarea" placeholder="Textarea">{{ productData.detalles }}</textarea>
                                <textarea v-else slot="input" id="detalles-producto" name="detalles" class="textarea" placeholder="Textarea"></textarea>
                            </form-input>
                            <!-- Galería -->
                            <h4 class="title is-5">Galería</h4>

                            <gallery-message></gallery-message>

                            <div class="box">
                                <div v-if="product" class="columns is-multiline" v-for="galeria in productData.galerias">
                                    <div v-for="imagen in galeria.imagenes_de_galeria" class="column is-2">
                                        <figure class="image" style="height: 200px; overflow: hidden">
                                            <img class="-object-fit-cover -is-fullheight" :src="imagen.url" alt="">
                                        </figure>
                                        <div class="has-text-centered">
                                            <a href="javascript:void(0)" @click.prevent="removeImageFromGallery($event, imagen.id)">
                                                <span class="has-text-danger is-size-7">Eliminar</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <form v-if="product" id="dropzoneEditGallery" class="dropzone" method="post" :action="actiongallery" enctype="multipart/form-data">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple/>
                                    </div>
                                    <div class="dz-message">Arrastra tus archivos para cargarlos</div>
                                </form>
                                <!-- <div v-else id="product-dropzone" class="dropzone"> -->
                                <form v-else id="product-dropzone" class="dropzone" method="post" :action="actiongallery" enctype="multipart/form-data">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                    <div class="dz-message">Arrastra tus archivos para cargarlos</div>
                                </form>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="box">
                                <h5 class="title is-6">Categorías</h5>
                                <categories v-if="product" :checked="productData.categorias"></categories>
                                <categories v-else></categories>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div slot="footer" class="box is-radiusless card-footer-item has-text-right">
                <!-- <button v-if="product" class="button is-link is-rounded" onclick="document.getElementById('form-product').submit()">Actualizar</button> -->
                <button v-if="product" id="btn-submit-update-product" class="button is-link is-rounded">Actualizar</button>
                <button v-else id="btn-submit-new-product" class="button is-link is-rounded">Guardar</button>
            </div>
        </card>
    </div>
</template>

<script>
    import Categories from "./parciales/Categories"
    import Card from "../../../Card"
    import FormInput from "../../../Input"
    import ImageMessage from '../../../admin/parciales/ImageMessage'
    import GalleryMessage from '../../../admin/parciales/GalleryMessage'

    export default {
        components: {
            Categories,
            Card,
            FormInput,
            ImageMessage,
            GalleryMessage
        },
        beforeMount() {
            this.parseProduct()
        },
        data () {
            return {
                filename: 'Subir imagen',
                imageProduct: false,
                productData: ''
            }
        },
        props: ['action', 'product', 'actiongallery', 'token'],
        methods: {
            uploadImage (e) {
                const files = e.target.files || e.dataTransfer.files;

                if (!files.length)
                    return;

                const image = files[0];
                this.filename = image.name;
                this.createImage(files[0]);
            },
            createImage(file) {
                const image = new Image();
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.imageProduct = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            parseProduct (){
                if(this.product) {
                    this.productData = JSON.parse(this.product);
                }
            },
            removeImageFromGallery(event, id) {
                const url = "/admin/galeria/image/remove/"+id;
                axios.post(url)
                    .then(function (response) {
                        const element = event.target;
                        const image = element.closest(".column");
                        image.style.display = "none";
                    })
                    .catch(function (error) {
                        alert("Tuvimos un problema, por favor inténtalo más tarde");
                        console.log(error.response);
                    });
            },
        }
    }
</script>