#admin-sidebar
  position: fixed
  width: 220px
  height: calc(100vh - 3.25rem)

  z-index: 9
  #user-logged
    margin: -1.25rem -1.25rem 0 -1.25rem

  .menu-list
    //margin: -1.25rem
    background-color: #C6C6C6
    margin-right: -1.25rem
    margin-left: -1.25rem
    li.list
      //border: solid 1px white
      .parent-menu
        background-color: #a7a5a5
      ul
        border-left: none
        display: none
      &.is-active
        a.parent-menu
          //background-color: #656161
          color: white
        ul
          display: block
      &.show-menu
        ul
          display: block
