.flip-card {
  //background-color: black!important;
  width: 100%;
  height: 230px;
  perspective: 1000px;

  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;


}

.flip-card-inner img{
  min-width: 100%;
  min-height: 100%;

  left: 50%;
  top: 50%;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mimg{
  margin-top: 6px;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  height: 100%;
}

.-lineas .-titulo{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 50px 30px 0 30px;
  padding-top: 6px;
}

.flip-card-back .-cont{
  background: transparent;
  height: 90%;
  padding: 10px 30px;
  >div{
    >a:hover{
      background: transparent;
    }
  }

  >h2{
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    margin-bottom: 1.0rem;
  }
}