// Este archivo se puede modificar libremente para hacer compatible con la página web los elementos ya definidos

// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap')


body
  // background-color: black
  font-family: 'Montserrat', sans-serif
    color: $grey-text
// h1, h2, h3, h4, h5, h6, a, .title, .subtitle, p, li, strong
a
  color: $primary-color

/*
   |--------------------------------------------------------------------------
   | Textos
   |--------------------------------------------------------------------------
   |
   | Estilos usados en todo el sitio
   |
   */
.-subtitulo
  font-family: 'Oswald', sans-serif
  font-weight: lighter
  font-size: 2.0rem
  color: black



/*
   |--------------------------------------------------------------------------
   | generales
   |--------------------------------------------------------------------------
   |
   | Estilos usados en todo el sitio
   |
   */

.-err
  border: 1px solid red

.-blue
  border: 1px solid #085486

.-space-y-76
  height: 76px

.-azul
   color: $primary-color!important

.-fdo-azul
  background-color: $primary-color!important

.-contenido
  margin-top: 50px
  margin-bottom: 40px


p
  margin-bottom: 1.0rem


p .-definicion
  font-size: .5rem
  font-weight: bold
  color: black


strong
  color: $primary-color!important



.subtitle
  font-family: 'Oswald', sans-serif
  font-size: 2.0rem
  color: $subtitle-color
  font-weight: bold

.-no-padding
  padding-top: 0.75rem
  padding-left: 0
  padding-right: 0.75rem


.-right-margin
    padding-right: 1px

.-lista-margen
  li
    padding-bottom: 1.0rem
  margin-left: 60px

ul
    list-style: disc

.-centered
  margin: auto!important

.-base-azul
    border-bottom: 1px solid $primary-color

.-base-azul li
    margin-left: 40px



.-producto-hr
  border: 1px solid $primary-color
  width: 100%
/*
   |--------------------------------------------------------------------------
   | navBar
   |--------------------------------------------------------------------------
   |
   | Estilos usados en todo el sitio
   |
   */

#logo-container
  +tablet
    .-nav-icon
      right: 0
      left: 0
      margin: auto
    .-move-to-left
      right: auto
      -webkit-transition: right 2s // Safari 
      transition: right 2s

.logo
  //width: 280px
  margin: 10px

.slogan
  text-transform: capitalize !important
  line-height: 112px
  margin: 10px

.navbar-burger
  height: 82px
  margin-top: 30px
  margin-right: 30px
  margin-left: auto !important
  background-color: $primary-color
  color: white
  width: 82px


.navbar-burger span
  color:  white

.navbar-burger:hover
  background-color: white
  span
    color: $primary-color


#navbarBasicExample

  display: none
  &.is-active
    display: block

.navbar
  display: block

.navbar-start
  display: block
  color: white
  background: $primary-color
  border-radius: 0px




.navbar
  .container
    border-top: solid 1px #cacaca
    border-bottom: solid 1px #cacaca
  .navbar-end
    margin: auto
    margin-bottom: 0

.navbar-menu
  a
    color: white

    &:hover
      background-color: white
      color: $primary-color
  .navbar-dropdown
    a
      +desktop
        color: $primary-color
  .navbar-item.is-mega
    .navbar-dropdown
      min-width: 65%
      left: 15%
      background-color: transparent
      figure
        .is-overlay
          display: none
          background-color: #2196F3
          opacity: 0.5
          z-index: 9
        .title, .subtitle
          position: absolute
          top: 45%
          z-index: 9
          color: white
          width: 100%
          text-align: center
        &:hover
          .is-overlay
            display: block





// Verificar para el comportamiento de los elementos que tengan el fondo del color base del tema
.-has-bg-primary
  color: white
  &.button
    &:hover
      color: white

.-has-border
  border-color: white

.-has-no-border
  border: 0!important


/*
   |--------------------------------------------------------------------------
   | Servicio
   |--------------------------------------------------------------------------
   |
   | Estilos usados en el area de servicio
   |
   */

.-servicio .card
  color: white
  background-color: transparent
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none



.-servicio a:hover
     color: $primary-color

.-servicio1
    background-color: #85c8ed
.-servicio2
    background-color: #4fb4ec
.-servicio3
    background-color: #0192d1
.-servicio4
    background-color: #0165ba


/*
 |--------------------------------------------------------------------------
 | Comunicados
 |--------------------------------------------------------------------------
 |
 | Estilos usados en áreas de práctica
 |
 */


.-lista-comunicados
  a
    display: block
  a:hover
    opacity: 0.5

.-lista-comunicados .content
  height: 80px

.-lista-comunicados .card-footer
  border-top: 0

.-comunicados-detalle

  margin-top: 30px

.-comunicados-detalle .-descripcion
  margin-top: 20px
  margin-bottom: 20px
/*
   |--------------------------------------------------------------------------
   | Areas de productos
   |--------------------------------------------------------------------------
   |
   | Estilos usados en áreas de práctica
   |
   */

.-home-areas
  a
    display: block
  a:hover
    opacity: 0.5

.-areas .card
  border: 0px

.-areas .card .icon
  margin: 30px 0

.-areas .card
  .title
    font-family: 'Oswald', sans-serif
    font-size: 1.5rem
    font-weight: normal
    text-align: center
  p
    color: black
    font-size: 0.75rem
      color: black
    font-size: 0.75rem
    font-weight: bold


.-areas .card .content
    padding: 0 30px 30px 30px


.-areas-de-practica
  margin-top: 60px
  .title
    font-size: 1.5rem
  ul
    list-style: disc
  li
    padding-bottom: 1.0rem
  .-lista-margen
    margin-left: 60px

/*
  |--------------------------------------------------------------------------
  | Quienes somos
  |--------------------------------------------------------------------------
  |
  | Estilos usados en quienes somos
  |
    */

.-la-firma
  .title
    font-size: 1.5rem
  ul
    list-style: disc
  li
    padding-bottom: 1.0rem



/*
   |--------------------------------------------------------------------------
   | footer
   |--------------------------------------------------------------------------
   |
   | Estilos usados en el pie de pagina
   |
   */

footer p
  color: $primary-color

.-line-footer
  height: 4px



.footer
  background-color: white
  .image.-top-right
    right: 0
  .content
    padding: 1.5rem 1.5rem 0 1.5rem
  .subtitle 
    margin-bottom: .4rem

.footer #logo
  padding-top: 16px
  padding-bottom: 0



.-sociales
  margin-top: 50px

.-box-all-rights-reserved
    background-color: #4fb4ec
    padding: 0.1rem
    margin-top: 18px

.column.-is-spaced
  margin-top: 3rem





/*
  *
  * Portfolio
  */
#portfolio-section
  background-repeat: no-repeat
  background-size: cover


.-fdo-area
  background-repeat: no-repeat
  background-size: cover



/*
  *
  * parallax
  */
.-parallax
  .hero-body
    padding: 35px

  .title-parallax
    font-size: 5.3em

  .paragraph-parallax
    font-size: 2.1em
    color: white !important

